@use "./variables" as v;

@mixin reset-list($m: 0, $p: 0) {
	list-style-type: none;
	margin: $m;
	padding: $p;
}

@mixin border-radius($val) {
	@each $vendor in v.$vendors {
		#{$vendor}border-radius: $val;
	}
}

@mixin fligran($bgcolor) {
	background-color: $bgcolor;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

@mixin flexbox($fd: row, $jc: space-between, $ai: stretch, $gap: 0, $fw: wrap) {
	display: flex;
	flex-direction: $fd;
	justify-content: $jc;
	align-items: $ai;
	gap: $gap;
	flex-wrap: $fw;
}

@mixin transition($target: all, $time: 1s) {
	@each $vendor in v.$vendors {
		#{$vendor}transition: $target $time;
	}
}

@mixin shadow($type, $val) {
	#{$type}-shadow: $val;
}

/* @mixin shadow($type, $val) {
	@if $type= box{
        box-shadow: $val
    }
    else{
        text-shadow: $val
    }
} */