$primary-font: "Lato";
$color1: rgb(122, 28, 139);
$color2: rgb(197, 172, 8);
$color3: rgba($color1, 0.5);
$color4: rgb(246, 246, 246);
$color5: rgb(32, 32, 32);
$color6: rgba($color2, 0.7);
$card-bg-img: url("../img/bg\ \(2\).jpg");
$vendors: ('','-webkit-','-moz-','-ms-','-o-');